apiVersion: v1
kind: Namespace
metadata:
  name: mssql-exporter
---
# 1. Deployment (웹 앱 실행)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: excel-exporter
  namespace: mssql-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excel-exporter
  template:
    metadata:
      labels:
        app: excel-exporter
    spec:
      containers:
      - name: web-app
        # [수정 필요] 본인의 깃허브 아이디/레포지토리명 (소문자 권장)
        # 예: image: ghcr.io/gildong/mssql-project:latest
        image: ghcr.io/highfreshness/migration_tool_web:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
---
# 2. Service (웹 접속 포트 개방)
apiVersion: v1
kind: Service
metadata:
  name: excel-exporter-svc
  namespace: mssql-exporter
spec:
  type: NodePort
  selector:
    app: excel-exporter
  ports:
    - port: 5000       # 서비스 포트
      targetPort: 5000 # 컨테이너 내부 포트
      nodePort: 30001  # 외부(브라우저) 접속 포트