apiVersion: v1
kind: Namespace
metadata:
  name: mssql-exporter
---
# 1. Deployment (웹 앱 실행)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: excel-exporter
  namespace: mssql-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: excel-exporter
  template:
    metadata:
      labels:
        app: excel-exporter
    spec:
      containers:
      - name: web-app
        # [수정 필요] 본인 이미지 주소 확인 (ghcr.io/아이디/레포명:태그)
        image: ghcr.io/github.com/highfreshness/migration_tool_web:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
---
# 2. Service (App만 고정 NodePort 사용)
apiVersion: v1
kind: Service
metadata:
  name: excel-exporter-svc
  namespace: mssql-exporter
spec:
  type: NodePort
  selector:
    app: excel-exporter
  ports:
    - name: http
      port: 5000        # 내부 서비스 포트
      targetPort: 5000  # 컨테이너 포트
      nodePort: 30001   # [고정] 외부 접속 포트